<header>
    <div class="navcontainer">
    <nav>
        <a class="myface" href="/users/1">MyFace</a>
        
        <a href="/posts">Home</a>
        <a class="blue" href="/posts">Posts</a>
        <a href="/users">Users</a>
        
        <a class="newpost" href="/posts/create/">+New Post</a>
      
    </nav>
</div>
</header>